body {
    color: black;
    background-color: #0099ff;
    font-family: Avenir, Helvetica, Arial, sans-serif;

}

.chatContainer {
    margin-top: 5rem;
}

#messages {
    list-style-type: none;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px auto;
    height: 10rem;
    overflow: auto;
    width: 30.2rem;
}

.formContainer {


    display: flex;
    justify-content: center;
}

.jumbotron {
    margin-top: 1rem;
    margin-left: 150px;
    border-radius: 5px;
    width: 34.3rem;
    display: block;

}

form>div>input {
    margin-right: 5px;
}


#messages li {
    padding: 0.75rem;
}

input {
    height: 30px;
    border-radius: 6px;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
}

input[type="submit"] {
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 1px;
    height: 40px;
}

button {
    margin-top: 6px;
    background-color: #005086;
    color: #fff;
    height: 30px;
    border: none;
    border-radius: 6px;
}

button#logout {
    margin-top: 20px;
    background-color: #f00000;
    color: black;
    height: 50px;
    width: 100px;

}

img{
    width: 100px;
    height: 100px;
}