div
    form.d-flex(action='/logout', method='get')
        div.d-flex
            h4= countOf
            img.mx-3(src= photoProfile, class='photoProfile')
        button#logout.btn.btn-success.mt-3.mb-5 SignOff