nav.navbar.navbar-expand-lg.navbar-light.bg-light
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/home') Home
            li.nav-item
                a.nav-link(href='/products') Products
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/login') Login
            li.nav-item
                a.nav-link(href='/signup') Sign Up
